.admin {
  margin: 0 auto;
  padding: 20px 30px 5px;
  border: 0;
  background: #fff;
  font-size: 18px;
  font-weight: 400;
}

@media (min-width: 800px) {
  .admin {
    margin-top: 15px;
    width: 740px;
    border: 1px solid #e6e5e3;
  }
}

@media print {
  .sub-navbar {
    display: none;
  }
}

.sub-navbar {
  margin: 0 auto 15px;
  padding: 10px 20px;
  max-width: 760px;
  list-style: none;
  border: 1px solid #e6e5e3;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  background: #fff;
}

@media (min-width: 800px) {
  .sub-navbar {
    margin-top: 15px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
  }
}

.sub-navbar li {
  display: inline-block;
}

.sub-navbar-link {
  margin-right: 20px;
}

.sub-navbar-link-active {
  composes: sub-navbar-link;
  font-weight: 600;
}
