.admin {
  margin: 0 auto;
  padding: 20px 30px 5px;
  border: 0;
  background: #fff;
  font-size: 18px;
  font-weight: 400;
}

@media (min-width: 800px) {
  .admin {
    margin-top: 15px;
    width: 740px;
    border: 1px solid #e6e5e3;
  }
}

@media print {
  .sub-navbar {
    display: none;
  }
}

.sub-navbar {
  margin: 0 auto 20px;
  padding: 10px 0 0;
  max-width: 800px;
  list-style: none;
  font-weight: 400;
  border-bottom: 1px solid #e6e5e3;
}

@media (min-width: 800px) {
  .sub-navbar {
    margin-top: 15px;
  }
}

.sub-navbar li {
  display: inline-block;
}

.sub-navbar-link {
  padding: 0 25px 12px;
  display: inline-block;
}

.sub-navbar-link-active {
  composes: sub-navbar-link;
  font-weight: 700;
  border-bottom: 2px solid #b49925;
}
