.navbar {
  position: relative;
  margin-bottom: 0;
  background: #202020;
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 5px rgba(0, 0, 10, 0.5);
}

.navbar-brand {
  margin: 0 auto;
  padding: 20px;
  max-width: 760px;
  display: block;
  float: none;
  text-align: center;
  overflow: hidden;
}

.navbar-header {
  width: 100%;
}

.navbar-team {
  float: left;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

@media (max-width: 767px) {
  .navbar-team {
    float: none;
  }
}

.navbar-section {
  position: relative;
  top: 3px;
  margin-left: 4px;
  display: inline-block;
  float: right;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  opacity: 0.8;
}

@media (max-width: 767px) {
  .navbar-section {
    display: none;
  }
}

.navbar-link {
  margin-left: 25px;
}

@media (min-width: 768px) {
  .navbar {
    box-shadow: 0 0 5px rgba(0, 0, 10px, 0.8);
  }
}
