@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700');
@import url('./header.css');
@import url('./games.css');

body {
  margin: 0;
  background: #f8f8f8;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  color: #202020;
}

.container {
}

.h2 {
  margin: 0 0 20px;
  padding: 10px 0;
  color: #fff;
  background: #b49925;
  border-radius: 2px;
  font-weight: 300;
}

@media(min-width: 768px) {
  .container {
    padding-bottom: 30px;
  }
}

.loading-indicator,
.error-message {
  margin: 100px auto;
  width: 300px;
  font-size: 30px;
  text-align: center;
}

.form {
  margin: 0 auto;
  padding-bottom: 20px;
  min-height: 300px;
  max-width: 800px;
  list-style: none;
  border: 0;
  background: #fff;
  text-align: center;
}

@media (min-width: 768px) {
  .form {
    margin-top: 15px;
    border: 1px solid #e6e5e3;
    box-shadow: 0 0 5px rgba(0, 0, 10, 0.1);
  }
}

.form-label {
  margin-bottom: 5px;
  font-size: 24px;
  display: block;
}

.form-field {
  margin-bottom: 25px;
  padding: 4px;
  width: 60%;
  min-width: 320px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 28px;
}

.button {
  margin-bottom: 10px;
  padding: 10px 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  background: #202020;
  border: 0;
}

.button-loading {
  composes: button;
  opacity: 0.2;
}

.button-failed {
  composes: button;
  background: #d9534f;
}

.button:hover {
  cursor: pointer;
  background: #333;
}
