.standings {
  margin: 0 auto;
  padding: 20px 30px 5px;
  border: 0;
  background: #fff;
  font-size: 18px;
  font-weight: 400;
}

@media (min-width: 800px) {
  .standings {
    margin-top: 15px;
    width: 740px;
    border: 1px solid #e6e5e3;
  }
}

.align-right {
  text-align: right !important;
}

.own-team {
  font-weight: 700;
}
